{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">About Us</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="about-us section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="content-left wow fadeInLeft" data-wow-delay=".3s"
                         style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                        <img src="{% static 'img/about_us.jpeg' %}" alt="#">
                        <a href="https://www.youtube.com/watch?v=r44RKWyfcFw&amp;fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM"
                           class="glightbox video"><i class="lni lni-play"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">

                    <div class="content-right wow fadeInRight" data-wow-delay=".5s"
                         style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                        <h2>About Tsidkenu Prayers.</h2>
                        <p>
                            Tsidkenu Prayers is led by Deborah wo leads the prayer and quiz questions on weekly basis.
                            Larisa is in charge of creating quiz and also leads. Other team members either lead the
                            prayer session or the bible study.<br>
                            Our prayer session are mostly conducted via viber and teams
                        </p>
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <ul class="list">
                                    <li><i class="lni lni-checkmark-circle"></i> Bible Studies</li>
                                    <li><i class="lni lni-checkmark-circle"></i> Prayers session</li>
                                    <li><i class="lni lni-checkmark-circle"></i> Prayer links</li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-12">
                                <ul class="list">
                                    <li><i class="lni lni-checkmark-circle"></i> Our Meeting Calender</li>
                                    <li><i class="lni lni-checkmark-circle"></i> Quiz links</li>
                                    <li><i class="lni lni-checkmark-circle"></i> Meets Ups</li>
                                </ul>
                            </div>
                        </div>
                        <div class="button">
                            <a href="javascript:void(0)" class="btn">More About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="team section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h3 class="wow zoomIn" data-wow-delay=".2s"
                            style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">Team</h3>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Meat our
                            team</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s"
                           style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                            Tsidkenu Prayers is led by Deborah wo leads the prayer and quiz questions on weekly basis.
                            Larisa is in charge of creating quiz and also leads. Other team members either lead the
                            prayer session or the bible study.<br>
                            Our prayer session are mostly conducted via viber and teams
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">

                    <div class="single-team wow fadeInUp" data-wow-delay=".2s"
                         style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="image">
                            <img src="{% static 'img/dread_3.jpeg' %}" alt="#">
                        </div>
                        <div class="content">
                            <div class="row align-items-center">
                                <div class="col-lg-7 col-12">
                                    <div class="text">
                                        <h3><a href="javascript:void(0)">Larisa</a></h3>
                                        <h5>Site Manager</h5>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-12">
                                    <ul class="social">
                                        <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a>
                                        </li>
                                        <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6 col-12">

                    <div class="single-team wow fadeInUp" data-wow-delay=".4s"
                         style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="image">
                            <img src="{% static 'img/dreads_2.jpeg' %}" alt="#">
                        </div>
                        <div class="content">
                            <div class="row align-items-center">
                                <div class="col-lg-7 col-12">
                                    <div class="text">
                                        <h3><a href="javascript:void(0)">Deborah</a></h3>
                                        <h5>TP Leader</h5>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-12">
                                    <ul class="social">
                                        <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a>
                                        </li>
                                        <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6 col-12">

                    <div class="single-team wow fadeInUp" data-wow-delay=".6s"
                         style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                        <div class="image">
                            <img src="{% static 'img/dreads_1.jpeg' %}" alt="#">
                        </div>
                        <div class="content">
                            <div class="row align-items-center">
                                <div class="col-lg-7 col-12">
                                    <div class="text">
                                        <h3><a href="javascript:void(0)">Eric</a></h3>
                                        <h5>Organiser</h5>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-12">
                                    <ul class="social">
                                        <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a>
                                        </li>
                                        <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
