{% extends "base.html" %}
{% load static %}
{% load bootstrap %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Search bar and background -->
<div class="home-background"></div>
<div class="home-search">
    <div class="flex f">
        <div>
            <div id="ripple_effect">Welcome</div>
            <div id="ripple_welcome">
                <span>To Ripple Experiences</span>
            </div>
        </div>
        <div>

        </div>
    </div>
</div>

<!-- List Posts -->

<section class="mx-auto my-5" id="all_posts" >
    <h2 class="text-center">Latest Merchandise</h2>
    {% for post in posts %}
        {% if forloop.first %}
            <div class="row">
        {% endif %}
         <div class="col-md-4 col-sm-6 col-xs-12">
             {% include 'webpages/short_post.html' %}
         </div>
        {% if forloop.counter|divisibleby:3 %}
            </div><div class="row">
        {% endif %}
    {% if forloop.last %}</div>{% endif %}
    {% endfor %}
    {% include 'webpages/pagination.html' %}
</section>

<!--do not delete this empty section is used for the result of the search bar-->
<section class="my-4 pb-5" id="search_posts_output">

</section>
<!--  paginating page s  -->

<script src="{% static 'js/searchbar.js' %}"></script>
{% endblock content %}