<!-- A post view with all the information of a post -->
{% load crispy_forms_tags %}
{% load bootstrap %}
<article class="media content-section">
    <div class="media-body w-50">
        <!-- Information about the post -->
        <div class="article-metadata">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            <a class="mr-2" href="{% url 'profile-page' post.author.username %}">{{ post.author.company_name }}</a>
            <small class="text-muted my-auto">{{ post.date_posted|date:"F d, Y" }}</small>
            {% url 'post-detail' object.id as post_url %}
            {% if request.get_full_path == post_url and object.author == user%}
                <div class="float-right">
                    <a class="btn-info btn-sm py-2 px-4" href="{% url 'post-update' object.id %}">Edit</a>
                    <a class="btn-danger btn-sm py-2 px-4" href="{% url 'post-delete' object.id %}">Delete</a>
                </div>
            {% else %}
{#                <div class="float-right">#}
{#                    <a  class="btn-info btn-sm py-2 px-4"  href="{% url 'chatroom' post.author.pk %}">Message {{ post.author }}</a>#}
{#                </div>#}
{#            <div class="float-right">#}
{#                <a class="btn-info btn-sm" href="{% url 'post-update' object.id %}">Edit</a>#}
{#                <a class="btn-danger btn-sm" href="{% url 'post-delete' object.id %}">Delete</a>#}
{#            </div>#}
            {% endif %}
        </div>
        <!-- Content of the post -->
        {% if post.post_images.all %}
        <!-- Slider and gallery -->
        <ul id="lightSlider" class="gallery list-unstyled cS-hidden">
            {% for img in post.post_images.all %}
            <li data-thumb="{{ img.image.url }}" data-source="{{ img.image.url }}">
                <a href="{{ img.image.url }}">
                    <img src="{{ img.image.url }}" />
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <!-- Information of the Property -->
        <h3 class="article-title mt-5"><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post }}</a></h3>

        <div class="row my-5 border-top border-bottom py-3">
            <div class="col-md-3 my-auto">
                <small>Material type</small>
                <div><i class=""></i> {{ post.material_type }}</div>
            </div>
            <div class="col-md-3 my-auto">
                <small>Clothing type</small>
                <div><i class=""></i>{{ post.clothing_type }}</div>
            </div>
            <div class="col-md-3 my-auto">
                <small>Available quantity</small>
                <div><i class="f"></i> {{ post.available_quantity }}</div>
            </div>
            <div class="col-md-3 my-auto">
                <small>Quantity Weight</small>
                <div><i class=""></i> {{ post.quantity_weight }} </div>
            </div>
        </div>
        <div class="row my-5 border-top border-bottom py-3">
            <div class="col-md-3 my-auto">
                <small>Item Size</small>
                <div><i class=""></i> {{ post.item_size }}</div>
            </div>
            <div class="col-md-3 my-auto">
                <small>Item Gender</small>
                <div><i class=""></i>{{ post.item_gender }}</div>
            </div>
            <div class="col-md-3 my-auto">
                <small>Available quantity</small>
                <div><i class="f"></i> {{ post.question1 }}</div>
            </div>
            <div class="col-md-3 my-auto">
                <small>Available</small>
                <div><i class=""></i> {{ post.question1 }} </div>
            </div>
        </div>

        <div class="border-top border-bottom py-3">
            <h5>Describe your product</h5>
            {% if post.summary %}
            <p class="article-content">{{ post.summary }}</p>
            {% else %}
            <p>No summary yet</p>
            {% endif %}
        </div>
    </div>
</article>