<!--  Always 5 page pagination  -->
{% if is_paginated %}
<nav class="d-flex justify-content-center">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="?page=1#all_posts">|<</a>
        </li>
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number}}#all_posts"><</a>
        </li>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ num }}#all_posts">{{ num }}</a>               
                </li>
            <!-- Exactly 5 page pagination -->
            {% elif page_obj.number < 4 and num < 6 or page_obj.number > page_obj.paginator.num_pages|add:"-3" and num > page_obj.paginator.num_pages|add:"-5" or num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}#all_posts">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number}}#all_posts">></a>
        </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}#all_posts">>|</a>
        </li>
    </ul>
</nav>
{% endif %}