{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="mx-auto w-50">
        <div class="content-section">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <legend class="border-bottom mb-4">Login</legend>
                <div class="form-group">
                    <input
                            type="text"
                            name="username"
                            placeholder="username"
                            id="usernameField"
                            value="{{fieldValues.username}}"
                            class="form-control form-control-sm"
                    />
                </div>
                <div class="form-group">
                    <input
                            type="password"
                            name="password"
                            placeholder="Password"
                            class="form-control form-control-sm"
                            id="passwordField"
                    />
                </div>
                <input type="submit" value="Login" class="btn btn-block btn-primary submit-btn" style="background: #5f788a; border:none; "/>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted d-block">
                    Register a new Account? <a class="ml-2" href="{% url 'register-page' %}">Register</a>
                </small>
                <small class="text-muted d-block">
                    Forgot Password? <a class="ml-2" href="{% url 'password_reset' %}">Reset password</a>
                </small>
            </div>
        </div>
    </div>
<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}