{% extends "dashboard/dashboard_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <!-- Main Content -->
    <div class="container-fluid">
        <h1> {{ user.company }} Dashboard</h1>
        <hr>
        <di class="row">
            <div class="col-md-6 col-sm-6">
                <small>Company Details</small>
            </div>
            <div class="col-md-6 col-sm-6">
                <button class="float-right btn btn-outline-info" onclick="openNav()">Edit Profile</button>
            </div>
        </di>
        <hr>
        <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <div id="myBtn5" class="col-xl-4 col-md-8 mb-6">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    User Name
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ user.username }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="myBtn6" class="col-xl-4 col-md-8 mb-6">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Admin Name
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    {{ user.first_name }} {{ user.last_name }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="myBtn7" class="col-xl-4 col-md-8 mb-6">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Company Name
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    {{ user.company }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <div id="myBtn5" class="col-xl-4 col-md-8 mb-6">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Address address
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ user.address }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="myBtn6" class="col-xl-4 col-md-8 mb-6">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Contact Number
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    {{ user.contact_number }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="myBtn7" class="col-xl-4 col-md-8 mb-6">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Email address
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    {{ user.email }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <div id="myBtn5" class="col-xl-4 col-md-8 mb-6">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    User Name
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="myBtn6" class="col-xl-4 col-md-8 mb-6">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Contact Number
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="myBtn7" class="col-xl-4 col-md-8 mb-6">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Email address
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#            {% if request.user.username == user.username %}#}
        {#            <div>#}
        {#                <button class="btn btn-outline-info" onclick="openNav()">Edit Profile</button#}
        {#            </div>#}
        {##}
        {##}
                    <div id="myNav" class="overlay">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                        <div class="overlay-content">
                            <!-- FORM HERE -->
                            <!-- enctype is used for saving images in data    -->
                            <div class="container">
                                <form method="POST" enctype="multipart/form-data" class="update-profile">
                                    {% csrf_token %}
                                    <fieldset class="form-group">
                                        <legend class="border-bottom mb-4">Profile Info</legend>
                                        {{ u_form|crispy }}
                                        {{ p_form|crispy }}
                                    </fieldset>
                                    <div class="form-group">
                                        <button class="btn btn-outline-info" type="submit">Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
        {#        {% endif %}#}
        <script>
        function openNav() {
            document.getElementById("myNav").style.width = "100%";
        }

        function closeNav() {
            document.getElementById("myNav").style.width = "0%";
        }
    </script>
    </div>
{% endblock content %}
